/* =============================== LARGE SCREEN (1230px) =============================== */

@media screen and (max-width: 1230px) {
    .firstSection {
        font-size: 3rem;
    }
}


/* =============================== LARGE SCREEN (1000px) =============================== */

@media screen and (max-width: 1000px) {
    nav ul li a {
        font-size: 1rem;
    }
    .prjImg img {
        margin-top: -4rem;
    }
    #h2-main {
        font-size: 2.5rem;
    }
    #h2-sub {
        font-size: 2.5rem;
    }
    .m-10 {
        margin-top: -13rem;
    }
    h3 {
        font-size: 2rem;
    }
    .prfOfEdu p {
        font-size: 1rem;
    }
    .prjImg img {
        height: 168px px;
        width: 168px;
    }
    .h3-small {
        font-size: 1.2rem;
    }
    /* .btn {
        width: 94px;
        height: 35px;
    } */
    a {
        font-size: 1rem;
    }
    .aboutContent div img {
        margin-top: -10rem;
    }
}


/* =============================== MIDIUM SCREEN (900px) =============================== */

@media screen and (max-width: 900px) {
    #h2-main {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 5rem;
    }
    .aboutContent {
        flex-wrap: wrap;
    }
    .aboutContent p {
        font-size: var(--mediumText-);
    }
    .aboutContent div img {
        width: 50%;
        height: 70%;
    }
    #h2-sub {
        margin-top: 5rem;
        font-size: 5rem;
    }
    #h2-sub> :first-child {
        margin-top: 1rem;
    }
    .about-row {
        display: inherit;
    }
    .prfOfEdu:first-child {
        margin-top: -5rem;
    }
    .proj-row {
        display: inherit;
        /* margin-top: -18rem; */
    }
    h3 {
        margin-top: 4rem;
        font-size: 3rem;
    }
    .prfOfEdu p {
        font-size: 1.5rem;
    }
    .prjImg img {
        width: 60%;
        height: 60%;
        margin-top: 4rem;
    }
    .h3-small {
        font-size: 2.5rem;
    }
    .fourthSection p {
        font-size: 1.5rem;
    }
    .project {
        margin-top: 9rem;
    }
    .fifthSection h1 {
        white-space: normal;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    #header_h1 {
        font-size: 3.5rem;
    }
    #spanSmall {
        font-size: 1.5rem;
    }
    #header-img {
        margin-top: -3rem;
    }
    #copyright {
        margin-top: 3rem;
    }
    .fifthSection .right {
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
        margin-top: 2rem;
    }
    .fifthSection p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fifthSection .social-footer .icons {
        width: auto;
        justify-content: space-evenly;
    }
    .fa-envelope {
        padding-right: 0.5rem;
    }
    .mt-5 {
        margin-top: -9rem;
    }
}


/* =============================== SMALL SCREEN (600px) =============================== */

@media screen and (max-width:600px) {
    .hamburger {
        display: block;
        font-size: 1.5rem;
        float: right;
        /* padding: 4px; */
        /* border: 2px solid var(--secondary-); */
    }
    .nav-btns {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: var(--primary-);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        /* For transition */
        transform: translateX(100%);
        transition: all 0.3s linear;
    }
    .active nav .nav-btns{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active nav .hamburger i[name="menu"]{
        display: none;
    }
    .active nav .hamburger i[name="close"]{
        display: block;
    }
    nav ul li {
        margin: 1rem;
    }
    .typeWriter {
        font-size: 1rem;
    }
    .firstSection img {
        margin-top: -3rem;
    }
    #header_h1 {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #spanSmall {
        font-size: 1rem;
    }
    #h2-main {
        font-size: 2rem;
        margin-top: -5rem;
    }
    .aboutContent p {
        font-size: var(--smallText-);
        margin-top: -4rem;
    }
    .aboutContent div img {
        width: 50vh;
        height: auto;
        margin-left: 1rem;
    }
    #h2-sub {
        font-size: var(--largeText-);
    }
    .about-h3 {
        font-size: 2rem;
    }
    .fifthSection h1 {
        white-space: normal;
    }
    .fifthSection {
        padding: 3rem 2rem 2rem;
    }
    .fifthSection p {
        font-size: var(--smallText-);
    }
    .aboutSection {
        margin: 0 -3rem;
    }
}


/* =============================== SMALL SCREEN (420px) =============================== */

@media screen and (max-width:420px) {
    .prjImg img {
        width: 100%;
        height: 100%;
    }
    .fifthSection p {
        font-size: 14px;
    }
    .head-h2 {
        margin-top: -4rem;
        /* font-size: 18px; */
    }
}


/* =============================== SMALL SCREEN (360px) =============================== */

@media screen and (max-width:360px) {
    #header_h1 {
        font-size: 2rem;
    }
    #spanSmall {
        font-size: 13px;
    }
    .h3-small {
        font-size: 1.5rem;
    }
    .fourthSection p {
        font-size: 1rem;
    }
    .fifthSection h1 {
        font-size: 25px;
    }
    .fifthSection p {
        font-size: 11px;
    }
    .fifthSection p {
        margin-top: -1rem;
    }
    .prfOfEdu p {
        font-size: var(--smallText-);
    }
    .head-h2 {
        margin-top: -4rem;
        font-size: 18px;
    }
}