@media screen and (max-width: 1230px) {
    .firstSection {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    nav ul li a {
        font-size: 1rem;
    }
    .prjImg img {
        margin-top: -4rem;
    }
    #h2-main {
        font-size: 2.5rem;
    }
    #h2-sub {
        font-size: 2.5rem;
    }
    .m-10 {
        margin-top: -13rem;
    }
    h3 {
        font-size: 2rem;
    }
    .prfOfEdu p {
        font-size: 1rem;
    }
    .prjImg img {
        height: 168px px;
        width: 168px;
    }
    .h3-small {
        font-size: 1.2rem;
    }
    /* .btn {
        width: 94px;
        height: 35px;
    } */
    a {
        font-size: 1rem;
    }
    .aboutContent div img {
        margin-top: -10rem;
    }
}

@media screen and (max-width: 900px) {
    body,
    html {
        /* width: fit-content; */
        overflow-x: hidden;
    }
    #h2-main {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 5rem;
    }
    .aboutContent {
        flex-wrap: wrap;
    }
    .aboutContent p {
        font-size: var(--mediumText-);
    }
    .aboutContent div img {
        width: 50%;
        height: 70%;
    }
    #h2-sub {
        margin-top: 5rem;
        font-size: 5rem;
    }
    #h2-sub> :first-child {
        margin-top: 1rem;
    }
    .about-row {
        display: inherit;
    }
    .prfOfEdu:first-child {
        margin-top: -5rem;
    }
    .proj-row {
        display: inherit;
        margin-top: -4rem;
    }
    h3 {
        margin-top: 4rem;
        font-size: 3rem;
    }
    .prfOfEdu p {
        font-size: 1.5rem;
    }
    .prjImg img {
        width: 60%;
        height: 60%;
        /* margin-top: -14rem; */
    }
    .h3-small {
        font-size: 2.5rem;
    }
    .fourthSection p {
        font-size: 1.5rem;
    }
    .project {
        margin-top: 9rem;
    }
    .fifthSection h1 {
        white-space: normal;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    #header_h1 {
        font-size: 3.5rem;
    }
    #spanSmall {
        font-size: 1.5rem;
    }
    #header-img {
        margin-top: -3rem;
    }
    #copyright {
        margin-top: 3rem;
    }
    .fifthSection .right {
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
        margin-top: 2rem;
    }
    .fifthSection p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fifthSection .social-footer .icons {
        width: auto;
        justify-content: space-evenly;
    }
    .fa-envelope {
        padding-right: 0.5rem;
    }
}

@media screen and (max-width:600px) {
    .typeWriter {
        font-size: 1rem;
    }
    .firstSection img {
        margin-top: -3rem;
    }
    #header_h1 {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #spanSmall {
        font-size: 1rem;
    }
    #h2-main {
        font-size: 2rem;
        margin-top: -5rem;
    }
    .aboutContent p {
        font-size: var(--smallText-);
        margin-top: -4rem;
    }
    .aboutContent div img {
        width: 50vh;
        height: auto;
        margin-left: 1rem;
    }
    #h2-sub {
        font-size: var(--largeText-);
    }
    .about-h3 {
        font-size: 2rem;
    }
    .fifthSection h1 {
        white-space: normal;
    }
    .fifthSection {
        padding: 3rem 2rem 2rem;
    }
    .fifthSection p {
        font-size: var(--smallText-);
    }
    .thirdSection {
        margin: 0 -3rem;
    }
}