@media screen and (max-width: 1230px) {
    .firstSection {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    nav ul li a {
        font-size: 1rem;
    }
    .prjImg img {
        margin-top: -4rem;
    }
    #h2-main {
        font-size: 2.5rem;
    }
    #h2-sub {
        font-size: 2.5rem;
    }
    .m-10 {
        margin-top: -13rem;
    }
    h3 {
        font-size: 2rem;
    }
    .prfOfEdu p {
        font-size: 1rem;
    }
    .prjImg img {
        height: 168px px;
        width: 168px;
    }
    .h3-small {
        font-size: 1.2rem;
    }
    .btn {
        width: 94px;
        height: 35px;
    }
    a {
        font-size: 1rem;
    }
    .aboutContent div img {
        margin-top: -10rem;
    }
}

@media screen and (max-width: 900px) {
    body {
        width: fit-content;
    }
}