/* Basic Style Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-);
    font-family: 'Mooli', sans-serif;
    overflow-x: hidden;
}


/* Basic Style End */


/* Utility Style Start */

:root {
    --primary-: #f56038;
    --secondary-: #F4F1E8;
    --territory-: #292626;
    --largeText-: 3rem;
    --mediumText-: 1.5rem;
    --mediumText2-: 2rem;
    --smallText-: 1rem;
}


/* Utility Style End */


/* Navigation Menu Start */

header {
    position: sticky;
    top: 0;
    filter: drop-shadow(-6px 4px 12px #696969);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--primary-);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-);
    font-family: 'Mooli', sans-serif;
    font-size: var(--mediumText-);
}

nav ul li a:hover {
    color: #fc3700;
}

.hamburger {
    display: none;
}

.header {
    display: grid;
    margin: 10rem 0;
    font-size: 4rem;
    font-family: 'Mooli', sans-serif;
    justify-content: center;
    align-items: center;
}

#header-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.header img {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: inherit;
}

.header div span {
    color: var(--primary-);
}


/* Navigation Menu Start */


/* About Me Start */

.secondSection div img {
    width: 100%;
}

.aboutSection {
    margin-top: 7%;
}

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem;
}

.aboutContent p {
    font-size: var(--mediumText-);
    padding-bottom: 12rem;
}

.aboutContent div img {
    width: 60%;
    height: 60%;
    margin-left: 10rem;
}

.prfOfEdu p,
h3 {
    text-align: center;
    font-family: 'Mooli', sans-serif;
}

.prfOfEdu hr {
    border: 2px solid #BD8F53;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project hr {
    border: 2px solid #BD8F53;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* About Me End */

.fourthSection p {
    text-align: center;
}

.project,
.hobbies {
    text-align: center;
}

.prjImg img {
    height: 800%;
    width: 80%;
}

.btn {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin-top: 2rem;
    border-radius: 10px;
    font-family: 'Mooli', sans-serif;
    font-size: var(--smallText-);
    background-color: var(--primary-);
    border: none;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
}

.fifthSection {
    background-color: var(--primary-);
    color: var(--secondary-);
    padding: 3rem 5rem 2rem;
}

.fifthSection h1 {
    font-family: 'Mooli', sans-serif;
    font-size: xxx-large;
}

.fifthSection .social-footer {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.fifthSection .social-footer .icons {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.fifthSection .social-footer:hover {
    cursor: pointer;
}

.fifthSection .right {
    float: right;
    font-size: 1.3rem;
}

.fifthSection p {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.fifthSection .right {
    margin-top: -20px;
}

.fa-brands {
    font-size: var(--mediumText2-);
}