/* =============================== BASIC STYLE =============================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--secondary-);
    font-family: 'Mooli', sans-serif;
}

#element {
    color: var(--secondary-);
    font-size: var(--mediumText-);
    font-weight: 800;
}

/* =============================== STYLE UTILITY =============================== */

:root {
    --primary-: #0c253f;
    --secondary-: #e5e5e6;
    --largeText-: 3rem;
    --mediumText-: 1.5rem;
    --mediumText2-: 2rem;
    --smallText-: 1rem;
}

/* =============================== NAVIGATION MENU START =============================== */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--primary-);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

#nav-logo,
nav ul li a {
    color: var(--secondary-);
    font-family: 'Mooli', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    font-size: var(--mediumText-);
}

.hamburger {
    display: none;
    background: transparent;
    cursor: pointer;
    z-index: 999;
}

.menu-outline[name="close"] {
    display: none;
}

/* =============================== HEADER =============================== */

.header {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--largeText-);
    color: var(--secondary-);
    background: url("/images/header-bg-clip.jpg") center bottom/cover;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

#header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 100px;
    width: 100px;
}

.header div span {
    color: var(--primary-);
}

/* =============================== ABOUT SECTION START =============================== */

.aboutSection {
    margin-top: 7%;
}

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem -10rem;
    font-size: var(--mediumText-);
    padding-bottom: 12rem;
}

.aboutSectionImg img {
    height: 10rem;
}

.prfOfEdu p,
.prfOfEdu h3,
.fourthSection p {
    text-align: center;
    font-family: 'Mooli', sans-serif;
}

.prfOfEdu hr,
.project hr {
    border: 2px solid var(--primary-);
    margin: 1rem 0;
}

/* =============================== HOBBIES, PROJECTS SECTION =============================== */

.project,
.hobbies,
.prjImg {
    text-align: center;
}

.prjImg img {
    height: 80%;
    width: 80%;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin-top: 2rem;
    border-radius: 10px;
    font-family: 'Mooli', sans-serif;
    font-size: var(--smallText-);
    background-color: var(--primary-);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* =============================== FOOTER =============================== */

.fifthSection {
    background-color: var(--primary-);
    color: var(--secondary-);
    padding: 3rem 5rem 2rem;
    text-align: center;
}

.fifthSection h1 {
    font-family: 'Mooli', sans-serif;
    font-size: xxx-large;
}

.fifthSection .social-footer {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.social-footer .icons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.fifthSection p {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.fa-brands {
    font-size: var(--mediumText2-);
}

.fa-envelope {
    display: grid;
}