#spanSmall {
    font-size: 2rem;
    text-align: center;
}

#h2-main {
    font-family: 'Mooli', sans-serif;
    margin: 5rem 5rem;
    color: var(--primary-2-);
    font-size: 3rem;
}

#h2-sub {
    font-family: 'Mooli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-2-);
    font-size: 3rem;
}

.about-row {
    /* margin-top: 5rem; */
    padding: 5rem;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10rem;
}

.proj-row {
    padding: 5rem;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10rem;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Caladea', serif;
}

.h3-small {
    font-size: 1.5rem;
    font-family: 'Mooli', sans-serif;
}

.about-large {
    font-size: 2rem;
}

.about-mid {
    font-size: 1.3rem;
}

.about-small {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--primary-);
}